.chat-main
  .group-info
    .group-info__left-box
      %h2.group-info__left-box__current-group
        テスト
      %ul.group-info__left-box__member-list
        Member:
        %li.group-info__left-box__member-list__member
          kodai
    
    = link_to "#", class:"edit-btn" do
      Edit
  
  .message-list
    .message
      .message__upper-info
        .message__upper-info__talker
          kodai
        .message__upper-info__date
          2020/8/11(Tues)
          11:22
      %p.message__text
        てすと
  .message-form
    %form.new-message
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type a message"}
        %label{class: "input-box__image"}
          = icon('fa', 'image')
          %input{type: "file", class: "input-box__image__file"}
      %input{type:"submit", class: "submit-btn", value: "Send"}